<!DOCTYPE html>
<head>
    <title>My page</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class = "login">
        <form action="/signup" method="POST">
            <h1>Signup</h1>
            <label>Enter username</label>
            <input type = "text" name="username" required/>
            <br/>
            <br/>
            <label>Enter password</label>
            <input type = "password" name="pswd" required/>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>